#quickCss{
    display: none;
}
#quickCssJadeCard{
    color: black; 
    text-align: left;
    
}
#backgroundwayy{
    background-image: linear-gradient( rgba(0, 0, 0, 0.94),rgba(255, 255, 255, 0.684)), url(images/testingBackground.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 0px ;
    background-size: cover;
    border-Radius: 10px;
    box-Shadow: 0 0 2em rgb(82, 82, 82);
    padding: 0.6em;
    display: inline-block;
    overflow:hidden;
    color:rgb(217, 217, 217);
    width: 15em;
    height: auto;
    margin: 0.4em;
    margin-top: 1em;
    
  
}
#backgroundwayy:hover{
    box-shadow: 0 0 10px  rgb(95, 0, 133);
}
#backgroundwayy:hover h2{
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.871);
    
}
#backgroundwayy:hover .imageStyle{
   width: 20em;
}

#dropdown h6{
    text-align: left;
    margin: 0;
    padding: 0.5em; 
}
#dropdown h6:hover{
    background-color: rgba(88, 3, 121, 0.483); 
    color: white;
}
#Colorbutton:hover{
    background-color: rgba(128, 128, 128, 0.235);
}
#Colorbutton:active{
    background-color: rgba(155, 1, 216, 0.326);
}
input[type="radio"]{
    accent-color: rgb(156, 1, 216);
}
#Cartbutton:hover{
    background-color: rgba(195, 195, 195, 0.14);
}
#Cartbutton:active{
     background-color: rgba(155, 1, 216, 0.126);
}




