#quickCss{
    display: none;
}
#quickCssJadeCard{
    
    color: black; 
    text-align: left;
    
}
#backgroundwayy{
    
    position: relative;
    backdrop-filter:blur(0.9em);
    background-image: linear-gradient( rgb(0, 0, 0),rgba(255, 255, 255, 0)),url(/images/wolla.jpg);
    opacity: 1;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 0px ;
    background-size: cover;
    border: solid 2px rgb(0, 0, 0) ;
    background-color: rgba(0, 0, 0, 0.279);
    padding: 0.6em;
    display: inline-block;
    color:rgb(255, 255, 255);
    width: 14em;
    height: 27em;
    
    margin-top: 2em;
    
  
}
#backgroundwayy:hover{
    box-shadow: 0 0 10px  rgb(133, 0, 124);
}
#backgroundwayy:hover h2{
    text-shadow: 0 0 10px rgb(97, 0, 71);
    
}
#backgroundwayy:hover .imageStyle{
   width: 20em;
}

#dropdown h6{
     background-color: rgba(21, 0, 29, 0.483); 
     color: white;
    text-align: left;
    margin: 0;
    padding: 0.5em; 
}
#dropdown h6:hover{
    background-color: rgba(88, 3, 121, 0.483); 
    color: white;
}

#Colorbutton:hover{
    background-color: rgba(164, 1, 112, 0.632);
}
#Colorbutton:active{
    background-color: rgba(216, 1, 159, 0.609);
}
input[type="radio"]{
    accent-color: rgb(156, 1, 216);
}
#Cartbutton:hover{
    background-color: rgba(195, 195, 195, 0.14);
}
#Cartbutton:active{
     background-color: rgba(155, 1, 216, 0.126);
}
.imageStyle2{
    animation-name: translation;
    animation-duration: 1s;
    width: 100%;
}
@keyframes translation{
    from{ transform: translateY(-40%);}
}
@keyframes JUMP{
    0%{ transform: scale(100%);
        }
    50%{ transform: scale(110%);
        background-color: rgb(51, 0, 88);}
    100%{ transform: scale(100%);}
}

@keyframes JUMP2{
    0%{ 
       opacity: 0; }
    50%{ 
        color: rgb(183, 0, 0);
        opacity: 1;}
    100%{
        opacity: 0;
    }
}

#zoomnyana p{
    font-size: 110%;
    color: rgb(255, 255, 255);
    background-color: rgba(174, 2, 183, 0.689);
    padding: 2px;
    animation: JUMP 2s infinite;
    
    
}
#zoomnyana p:hover{
  
    background-color: rgba(123, 0, 130, 0.798);
    text-shadow: 0 0 5px white;
}
#zoomnyana a{
    text-decoration: none; 
}
#EXIT:hover{
    font-size: 110%;
    color: rgb(255, 1, 255);
}





